.btn {
  @extend .u-pa-rg;
  background-color: map-get($button, bgcolor);
  border-radius   : map-get($button, radius);
  border          : map-get($button, border);
  color           : map-get($button, color);
  cursor          : pointer;
  display         : inline-block;
  font-family     : map-get($type-base, family);
  font-size       : map-get($type-base, size);
}

.btn-primary {
  background-color: map-get($button-primary, bgcolor);
  color           : map-get($button-primary, color);
}

.btn[disabled] {
  cursor: not-allowed;
}
