label {
  display: block;
}

input,
input[type="search"] {
  @extend .u-pa-rg;
  border       : map-get($input, border);
  border-radius: map-get($input, radius);
  font-family  : map-get($type-base, family);
  font-size    : map-get($type-base, size);
}

input[disabled] {
  cursor: not-allowed;
}
