@each $key, $value in $layoutSizes {
  .u-ma-#{$key} {
    margin: $value !important;
  }

  .u-mx-#{$key} {
    margin-left:   $value !important;
    margin-right:  $value !important;
  }

  .u-my-#{$key} {
    margin-top:    $value !important;
    margin-bottom: $value !important;
  }

  .u-ml-#{$key} {
    margin-left:   $value !important;
  }

  .u-mr-#{$key} {
    margin-right:  $value !important;
  }

  .u-mt-#{$key} {
    margin-top:    $value !important;
  }

  .u-mb-#{$key} {
    margin-bottom: $value !important;
  }
}
