// Font Stack

body {
  font-family: map-get($type-base, family);
  line-height: map-get($type-base, leading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($type-base, family);
}

h1,
.h1 {
  font-size: 2 * map-get($type-base, size);
}

h2,
.h2 {
  font-size: 1.5 * map-get($type-base, size);
}

h3,
.h3 {
  font-size: 1.25 * map-get($type-base, size);
}

h4,
.h4 {
  @extend .u-tt-u;
  font-size: map-get($type-base, size);
  letter-spacing: 1.5px;
}

h5,
.h5 {
  font-size: map-get($type-base, size);
}

small,
.small {
  font-size: 0.75 * map-get($type-base, size);
}

// Text Align

@each $key, $value in $type-justification {
  .u-ta-#{$key} {
    text-align: $value;
  }
}

// Text Transform

@each $key, $value in $type-textTransform {
  .u-tt-#{$key} {
    text-transform: $value;
  }
}
