@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$unit: 8px;

$colors: (
  primary:   #58575F,
  secondary: #fff,
  tertiary:  #00f
);

$layoutSizes: (
  sm: $unit * 0.75,
  rg: $unit,
  lg: $unit * 2
);

$breakpoints: (
  sm: 500px,
  md: 900px,
  lg: 1400px
);

$grid: (
  numOfColumns: 12,
  gutterWidth:  $unit,
  maxWidth:     1400px
);

$type-base: (
  family:  #{'Roboto', "helvetica neue", helvetica, sans-serif},
  size:    $unit * 2,
  leading: $unit * 2 * 1.5
);

$type-justification: (
  c: "center",
  l: "left",
  r: "right"
);

$type-textTransform: (
  u: "uppercase",
  n: "normal"
);

$button: (
  bgcolor: white,
  border:  solid black 1px,
  color:   black,
  radius:  3px
);

$button-primary: (
  bgcolor: black,
  color:   white
);

$input: (
  bgcolor: white,
  border:  solid black 1px,
  color:   black,
  radius:  3px
);
